<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.order.mapper.OrderDetailMapper">
    <select id="findByOrderIdAndProductId" parameterType="map" resultType="com.flab.order.domain.entity.OrderDetail">
        SELECT * FROM ORDER_DETAIL
        WHERE orderId = #{orderId} AND productId = #{productId}
    </select>
</mapper>
