<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.order.mapper.OrdersMapper">
    <select id="findById" parameterType="java.lang.Long" resultType="com.flab.order.domain.entity.Orders">
        SELECT * FROM ORDERS WHERE id = #{id}
    </select>

    <insert id="save" parameterType="com.flab.order.domain.entity.Orders" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Orders (memberId, status, totalPrice, createdAt, updatedAt)
        VALUES (#{memberId}, #{status}, #{totalPrice}, #{createdAt}, #{updatedAt})
    </insert>

    <update id="updateStatus" parameterType="map">
        UPDATE ORDERS
        SET status = #{status}
        WHERE id = #{orderId}
    </update>
</mapper>
