<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.order.mapper.ProductMapper">
    <select id="findById" parameterType="java.lang.Long" resultType="com.flab.order.domain.entity.Product">
        SELECT * FROM PRODUCT WHERE id = #{id}
    </select>

    <update id="updateAllByStock">
        <foreach collection="list" item="item" separator=",">
            UPDATE PRODUCT
            SET stock = stock - #{item.quantity}
            WHERE id = #{item.productId} AND stock >= #{item.quantity}
        </foreach>
    </update>
</mapper>
